{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ room.name }}
{% endblock %}

{% block content %}

<nav class="bg-black p-2">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <a href="{% url 'homepage' %}">
            <img src="{% static 'img/logotipo.png' %}" alt="Logo" class="w-16">
            </a>
            <ul class="flex space-x-4">
                <li class="text-2xl text-white">Assentos</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mx-auto px-4 py-8 grid grid-cols-12 gap-1 md:gap-2 lg:gap-4 xl:gap-6 2xl:gap-8">
    {% for seat in seats %}
    {% if seat.is_occupied %}
        <div class="rounded-lg shadow-md bg-armchair w- bg-red-400">
    {% else %}
        <div class="rounded-lg shadow-md bg-armchair w-fit bg-green-400">
    {% endif %}
            <img src="{% static 'img/armchair.svg' %}" alt="Nome do cinema/sala"
            class="w-full object-cover rounded-t-lg">
            <div>
                <h3 class="text-xs md:text-lg font-semibold mb-2 text-center">{{seat}}</h3>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}