div:hover {
    border: 5px solid aqua;
}

div:nth-of-type(1) {
    background-color: red;
}

div:nth-of-type(2) {
    background-color: orange;
}

div:nth-of-type(3) {
    background-color: yellow;
}

div:nth-of-type(4) {
    background-color: midnightblue;
}

div:nth-of-type(5) {
    background-color: bisque;
}

div:nth-of-type(1) h3 {
    text-decoration: underline;
    text-align: center;
}

div:nth-of-type(2) h3 {
    font-style: italic;
}

div:nth-of-type(3) h3 {
    color: red;
}

div:nth-of-type(4) h3 {
    color: white;
}

div:nth-of-type(5) h3 {
    text-align: right;
}