.super-mario {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
    left: 70px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
    width: 350px;
    z-index: 3;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 220px;
    top: 130px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 100px;
  }