ol li:nth-of-type(2n+1) {
    background-color: yellow;
    text-transform: uppercase;
}

ol li:nth-of-type(2n) {
    background-color: yellow;
    color: green;
}

h1, h3 {
    color: red;
}

h1 em, h3 em {
    font-size: 40px;
    border: 1px solid black;
}