<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receitas</title>
</head>

<body>
  <h1>{{ receita.nome }}</h1>
  <h2>Ingredientes:</h2>
  <ul>
    {% for ingrediente in receita.ingredientes %}
    <li>{{ ingrediente|capitalize }}</li>
    {% endfor %}
  </ul>
  <h2>Modo de preparo:</h2>
  {% for item in receita.preparo|split_phrase %}
  <p>{{ item|trim|capitalize }}</p>
  {% endfor %}
</body>

</html>