/* * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* apply a natural box layout model to all elements, but allowing components to change */

/* 1 - Faça o tamanho da fonte ser maior; */

/* 2 - Faça o tamanho da fonte dos elementos h1 ser menor; */


html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: large;
}

article {

}

h1 {
  font-size: xx-large;
}
  
h2 {

}

img {
  max-width: 100%;
}

main {

}
  
section {

}
  
figure {
  margin: 0;
}
  
figcaption {
  font-size: .8em;
}
