body {
    font-size: 16px;
    text-align: center;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
#lista {
    background-color: yellow;
    font-style: italic;
    line-height: 30px;
}
.cor {
    background-color: red;            
}
p {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}